*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:  EL_Nahdi;
}
@font-face {
  font-family: EL_Nahdi;
  src: url(../font/Nahdi-Bold.ttf);
}
img {
  display: block;
}
body{
  background: white;
}
.container::after {
  content: "";
  position: absolute;
  width: 6%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  z-index: -1;
}
/* logo */
.logo-img {
  margin: 0 auto;
  width: 47%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.logo-img img {
  width: 100%;
}
/* tree */
.tree-container {
  width: 92%;
  position: absolute;
  left: 1.3rem;
  top: 15%;
}
.tree-img {
  width: 100%;
}
/* cat */
.cat-container {
  width: 32%;
  position: absolute;
  left: 0;
  top: 45%;
}
.cat-img {
  width: 100%;
}
/* footer */
.footer-container {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 6%;
  bottom: 0;
  width: calc(100% - 1.6rem);
}
.footer-container img {
  width: 100%;
}
/* links */

.buttons-container {
  position: absolute;
  right: 14%;                 
  top: 65%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

span{
  font-size: 1.25rem;
  font-weight: 500;
}
.icon-row {
  display: inline-flex;      
  flex-direction: row-reverse; 
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000;

}


.icon-row img {
  width: 3rem;
  height: 3rem;
}


@media (max-width: 350px) {
  body::after {
    width: 7%;
  }
  .tree-container {
    width: 74%;
    top: 12%;
    left: 6%;
  }
  .logo-img {
    width: 35%;
    top: 4%;
  }
  .cat-container {
    width: 32%;
    top: 39%;
  }
  .buttons-container {
    right: 20%;
    top: 60%;
     gap: 0.5rem;
}
  
  .icon-row img {
  width: 2rem;
  height: 2rem;
}
span{
  font-size: 1rem;
  font-weight: 500;
}

  .footer-container {
    left: 1.3rem;
    width: calc(100% - 1.3rem);
  }
}
@media (min-width: 408px) {
  body::after {
    width: 7%;
  }
  .tree-container {
    width: 80%;
    top: 14%;
    left: 6%;
  }
  .logo-img {
    width: 40%;
    top: 5%;
  }
  .cat-container {
    width: 32%;
    top: 43%;
  }
  .buttons-container {
    right: 20%;
    top: 62%;
    gap: 2rem;
  }

  .footer-container {
    left: 1.3rem;
    width: calc(100% - 1.3rem);
  }
}

@media (min-width: 470px) {
  .section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 50;
}
body::after {
    width: 7%;
  }
}


@media (min-width: 500px) {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    z-index: 50;
    
  }

  body::after {
    width: 7%;
  }

  .tree-container {
    width: 79%;
    top: 14%;
    left: 6%;
  }

  .logo-img {
    width: 40%;
    top: 5%;
  }

  .cat-container {
    width: 28%;
    top: 45%;
   
  }

  .buttons-container {
   right: 20%;
    top: 62%;
     gap: 2rem;
   
  }
 .icon-row img {
  width: 3rem;
  height: 3rem;
}
span{
  font-size: 1.25rem;
  font-weight: 500;
}

  .footer-container {
    left: 1.3rem;
    width: calc(100% - 1.3rem);
  }
}
@media (min-width: 580px){
 .cat-container {

    top: 42%;
   
  }
  .buttons-container {
   right: 22%;
    top: 62%;
  gap: 2rem;
   
  }
 .icon-row img {
  width: 3.5rem;
  height: 3.5rem;
}
span{
  font-size: 1.5rem;
  font-weight: 500;
}
}
@media (min-width: 680px){
  .tree-container {
    width: 65%;
    top: 12%;
    left: 6%;
   
  }
    .logo-img {
    width: 30%;
    top: 3%;
  }
 .cat-container {
    width: 25%;
    top: 42%;
  }
   .footer-container {
    left: 3rem;
    width: calc(100% - 5rem);
  }
 .buttons-container {
    right: 27%;
    top: 60%;
    gap: 2rem;
   
  }
 .icon-row img {
  width: 4rem;
  height: 4rem;
}
span{
  font-size: 2rem;
  font-weight: 500;
}
}

@media (min-width: 845px) {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 70%;
    height: 90vh;
    background-color: #ffffff;
    border: #000 solid 3px;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    position: relative;
    z-index: 50;
  }

  body::after {
    width: 7%;
  }

  .tree-container {
    width: 73%;
    top: 14%;
    left: 7%;
  }

  .logo-img {
    width: 36%;
    top: 5%;
  }

  .cat-container {
    width: 25%;
    top: 45%;
  }

.buttons-container {
   right: 25%;
    top: 62%;
  gap: 1.5rem;
   
  }
 .icon-row img {
  width: 3rem;
  height: 3rem;
}
span{
  font-size: 1.30rem;
  font-weight: 500;
}

  .footer-container {
    left: 1.3rem;
    width: calc(100% - 1.3rem);
  }
}
@media (min-width: 920px) {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
    width: 60%;
  }


  body::after {
    width: 7%;
  }

  .tree-container {
    width: 73%;
    top: 14%;
    left: 6%;
  }

  .logo-img {
    width: 30%;
    top: 5%;
  }

  .cat-container {
    width: 26%;
    top: 42%;
  }



  .footer-container {
    left: 2.2rem;
    width: calc(100% - 2.5rem);
  }
}
@media (min-width: 1000px) {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container{
  width: 50%;
}

  body::after {
    width: 7%;
  }

  .tree-container {
    width: 73%;
    top: 14%;
    left: 6%;
  }

  .logo-img {
    width: 30%;
    top: 5%;
  }

  .cat-container {
    width: 26%;
    top: 45%;
  }


  .footer-container {
    left: 2.2rem;
    width: calc(100% - 2.5rem);
  }
}
@media (min-width: 1100px) {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
    width: 50%;
}


  body::after {
    width: 7%;
  }

  .tree-container {
    width: 65%;
    top: 14%;
    left: 6%;
  }

  .logo-img {
    width: 30%;
    top: 5%;
  }

  .cat-container {
    width: 23%;
    top: 42%;
  }
.buttons-container {
   right: 18%;
    top: 60%;
  gap: 1rem;
   
  }
 .icon-row img {
  width: 2rem;
  height: 2rem;
}
span{
  font-size: 1.25rem;
  font-weight: 500;
}

  .footer-container {
    left: 2.2rem;
    width: calc(100% - 2.5rem);
  }
}

@media (min-width: 1200px) {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container {
    width: 40%;
  }

  body::after {
    width: 7%;
  }

  .tree-container {
    width: 65%;
    top: 12%;
    left: 6%;
  }

  .logo-img {
    width: 25%;
    top: 3%;
  }

  .cat-container {
    width: 25%;
    top: 40%;
  }

.buttons-container {
   right: 25%;
    top: 60%;
  gap: 1.5rem;
   
  }
 .icon-row img {
  width: 3rem;
  height: 3rem;
}
span{
  font-size: 1.25rem;
  font-weight: 500;
}
  .footer-container {
    left: 1.9rem;
    width: calc(100% - 2rem);
  }
}