* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
img {
  display: block;
}

body {
  margin: 0;
  background: linear-gradient(to right, #000 0 20px, transparent 20px) #fff;
}

.container {
  margin: 0;
}

.logo-img {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.logo-img img {
  width: 50%;
  margin: 30px auto 0;
}

.tree-container {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 20px;
  margin-top: 15px;

  margin-right: 70px;
}
.tree-img {
  width: 370px;
}

.cat-container {
  position: absolute;
  left: 0;
  top: 350px;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.cat-img {
  width: 115px;
}

.footer-container {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 20px;
  bottom: 0;
}
.footer-container img {
  width: 390px;
}

.buttons-container {
  position: absolute;
  left: 190px;
  top: 370px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pill {
  display: block;
  width: 185px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 6px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
 
}


.pill:hover {
background: #AE2B39;
color: #fff;
border-color:#AE2B39;
transform: scale(1.03);

}
.pill:active {
  transform: translateY(1px);
}

/* @media (max-width: 768px) {
    body {
  background: linear-gradient(to right, #000 0 42px, transparent 42px) #fff;
  
}
  .logo-img img {
    width: 70%;
  }
  .tree-container {
    left: 16px;
    top: 110px;
    margin-right: 80px;
  }
  .tree-img {
    width: 700px;
    margin-top: 110px;
  }
  .cat-img {
    width: 190px;
  }
  .cat-container {
  position: absolute; 
  left: 0; 
  top: 500px; 
  z-index: 10;
  margin: 0;
  padding: 0;
 
}
}

@media (max-width: 480px) {
    .logo-img img {
    width: 60%;
  }
  .tree-img {
    width: 400px;
  }
  .cat-img {
    width: 115px;
  }
}

@media (min-width: 1024px) {
  .tree-img {
    width: 450px;
  }
  .cat-img {
    width: 180px;
  }
} */
