* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img {
  display: block;
}
body::after{
  content: "";
  position: absolute;
  width: 1.6rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  z-index: -1;
}
/* logo */
.logo-img {
  margin: 0 auto;
  width: 47%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.logo-img img {
  width: 100%;
}
/* tree */
.tree-container {
  width: 92%;
  position: absolute;
  left: 1.6rem;
  top: 15%;
}
.tree-img {
  width: 100%;
}
/* cat */
.cat-container {
  width: 35%;
  position: absolute;
  left: 0;
  top: 43%;
}
.cat-img {
  width: 100%;
}
/* footer */
.footer-container {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 1.6rem;
  bottom: 0;
  width: calc(100% - 1.6rem);
}
.footer-container img {
  width: 100%;
}
/* links */
.buttons-container {
  position: absolute;
  left: 40%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.pill {
  display: block;
  width: 13rem;
  height: 2rem;
  border: 2px solid #000;
  border-radius: 6px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
 
}
.pill:hover {
background: #AE2B39;
color: #fff;
border-color:#AE2B39;
transform: scale(1.03);

}
.pill:active {
  transform: translateY(1px);
}

/* @media (max-width: 768px) {
    body {
  background: linear-gradient(to right, #000 0 42px, transparent 42px) #fff;
  
}
  .logo-img img {
    width: 70%;
  }
  .tree-container {
    left: 16px;
    top: 110px;
    margin-right: 80px;
  }
  .tree-img {
    width: 700px;
    margin-top: 110px;
  }
  .cat-img {
    width: 190px;
  }
  .cat-container {
  position: absolute; 
  left: 0; 
  top: 500px; 
  z-index: 10;
  margin: 0;
  padding: 0;
 
}
}

@media (max-width: 480px) {
    .logo-img img {
    width: 60%;
  }
  .tree-img {
    width: 400px;
  }
  .cat-img {
    width: 115px;
  }
}

@media (min-width: 1024px) {
  .tree-img {
    width: 450px;
  }
  .cat-img {
    width: 180px;
  }
} */
